:root{
  --navbackground-color: #008CBA;
  --bodyone-color: #C9E6F0;
  --bodytwo-color: #FBFBFB;
  --footerbackground-color: #FFDDAE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  color: rgb(0, 0, 0);
}

/* admin register */
.body-cont{
  padding-top: 100px;
}

.register{
  background-color: var(--bodyone-color);
}

.register .form-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .register-body{
  max-width: 400px;
}



/* admin nav */

header {
  background-color: var(--navbackground-color);
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .logo{
  font-size: 18px;
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

header .nav a{
color: black;
display: block;
margin: 0 5px;
padding: 5px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.display-flex{
  display: flex;
}



/* sports */

.sports-cont{
  background-color: var(--bodyone-color);
}


/* venue */
.venue-cont{
  background-color: var(--bodyone-color);
}

/* amenities */
.amenities-cont{
  background-color: var(--bodyone-color);
}

/* adminlogin */
.adminlogin-cont{
  background-color: var(--bodyone-color);
}

/* home */
/* .home .card{
  height: 200px;
} */

.home .card{
  height: 200px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  transition: transform .5s;
}

.home .card:hover{
    transform: scale(0.9);
}

.home .card .card-img-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




/* owner login */


.ownerlogin i{
  color: #709085;
}

.ownerlogin form{
  width: 23rem;
}

.ownerlogin form h3{
  letter-spacing: 1px;
}

.ownerlogin img{
  object-fit: cover;
  object-position: left;
}
