:root{
  --navbackground-color: #008CBA;
  --bodyone-color: #C9E6F0;
  --bodytwo-color: #FBFBFB;
  --footerbackground-color: #FFDDAE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  color: rgb(0, 0, 0);
}

/* admin register */
.body-cont{
  padding-top: 100px;
}

.register{
  background-color: var(--bodyone-color);
}

.register .form-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .register-body{
  max-width: 400px;
}



/* admin nav */

header {
  background-color: var(--navbackground-color);
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1050;
  top: 0;
}

header .logo{
  font-size: 18px;
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

header .nav a{
color: black;
display: block;
margin: 0 5px;
padding: 5px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.display-flex{
  display: flex;
}



/* sports */

.sports-cont{
  background-color: var(--bodyone-color);
}


/* venue */
.venue-cont{
  background-color: var(--bodyone-color);
}

/* amenities */
.amenities-cont{
  background-color: var(--bodyone-color);
}

/* adminlogin */
.adminlogin-cont{
  background-color: var(--bodyone-color);
}

/* home */
/* .home .card{
  height: 200px;
} */

.home .card{
  height: 200px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  transition: transform .5s;
}

.home .card:hover{
    transform: scale(0.9);
}

.home .card .card-img-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




/* owner login */


.ownerlogin i{
  color: #709085;
}

.ownerlogin form{
  width: 23rem;
}

.ownerlogin form h3{
  letter-spacing: 1px;
}

.ownerlogin img{
  object-fit: cover;
  object-position: left;
}


/* user login */

.userlogin{
  background-color: #9A616D;;
}

.userlogin .card{
  border-radius: 1rem;
}

.userlogin .card img{
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
  object-position: left;
}

.userlogin .card i{
  color: #ff6219;
}

.userlogin .card h5{
  letter-spacing: 1px;
}

.userlogin .card p{
  color: #393f81;
}
.userlogin .card p a{
  color: #393f81;
}


/* user register */

.userregister img{
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}


/* user home */

.allturf{
  cursor: pointer;
  transition: transform .5s;
}

.allturf:hover{
  transform: scale(0.9);
}


.username{
font-size: 18px;
  background-color: var(--bodyone-color);
  color: rgb(6, 6, 6);
  padding: 6px 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}


/* single turf */

.book{
  color: var(--bodytwo-color);
  background-color: var(--navbackground-color);
  border: 0;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.2s;
}

.book:hover{
  color: var(--bodytwo-color);
  background-color: color-mix(in srgb, var(--navbackground-color), transparent 30%);
}


/* .carousel{
  z-index: -900;
} */

/* booking status */
/* .total{
  display: flex;
  justify-content: center;
} */



/* social post */
.posttext{
  width: 400px;
  height: 200px;
}


/* social comment */

.backbtn{
  width: 100px;
  border-radius: 50px;
  border: 0px;
  box-shadow: 20px;
  background-color: #008CBA;
}



/* football score */
.video-btn{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  /* max-width: 750px; */
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  margin-top: 10px;
}
.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.footballscore{
  display: flex;
  justify-content: space-between;
}


.btn-submit{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}



/* user football */
.football-status{
  background-color: var(--bodyone-color);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}